// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
	padding-top:2em;
	padding-bottom:2em;
}
.productfooter {
	padding-top:2em;
	padding-bottom:2em;
}

.productfooter {
	background-color: #57C2CC;
}


