/*** body ***/

.img-responsive {
	width:100% ;
}

h1 {
	color: black;
	text-align: center;
}
/*** Navigation ***/
.navbar a:hover {
	color:#White;
	text-decoration:none;
	transition:color 600ms;
	-webkit-transition:color 600ms;
}
.navbar ul li {
	text-align: center;
	display:inline-block;
	font-size: 1em;
}
.Projectname {
	text-transform:uppercase;
}
.anchor {
	padding-top:51px;
}

/*** Footer ***/

footer {
	background-color: grey;
	position: relative;
	padding-top:2em;
}



// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

