/*** body ***/

.img-responsive {
	width:100% ;
}

h1 {
	color: black;
	text-align: center;
}
p {
	color: black;
	font: helvetica, sans serif;
	font-size: 1.3em;
}
/*** Navigation ***/
.navbar a:hover {
	color:blue;
	text-decoration:none;
	transition:color 600ms;
	-webkit-transition:color 600ms;
}
.navbar ul li {
	text-align: center;
	display:inline-block;
	font-size: 1.3em;
	text-color:blue;
	padding-left: .75em;
}

.form-group {
	color: blue;
}

.navbar a {
	color:white;
}

.Projectname {
	text-transform:uppercase;
	padding-right:2px
}
.anchor {
	padding-top:51px;
}

/*** Footer ***/

footer {
	background-color: grey;
	position: relative;
	padding-top:2em;
	padding-left:1em
}

/***Products***/

.container-fluid {
	color: black;
	font: helvetica, sans-serif;
}

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

