<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<% cache(cache_key_for_products) do %>
  <%= render 'product' %>
<% end %>

 

<div class="productfooter">
  <br>
    <%= link_to 'New Product', new_product_path %>
</div>

